body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #E9EFF4;
  font-size: 1.6rem;
}
header {
  background-color: #079CFB;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 33px -17px rgba(12, 130, 249, 0.8);
}
header h1 {
  text-align: center;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3rem;
  margin:0;
}
.dos-columnas {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
main {
  margin: 4rem auto;
  max-width: 1200px;
}
.container {
  margin: 0 auto 2rem auto;
  border-radius: 1.5rem;
  background-color: white;
  padding: 3.5rem;
  -webkit-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  -moz-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  box-shadow: 0px 10px 33px -17px rgb(223, 223, 223);
  width: 100%;
}
form {
  width: 100%;
}
.field {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.field label {
  display: block;
  color: #393D4C;
  font-weight: 600;
  margin-bottom: .6rem;
}
.field input,
.field select {
  all: unset;
  background-color: #F9F9F9;
  width: 100%;
  border-radius: 5rem;
  padding: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #6C707E;
  margin-bottom: .8rem;
}

 input[type="submit"] {
  background-color: #393D4C;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  border-radius: 5rem;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  width: 100%;
  transition: background-color .3s ease;
  box-shadow: 0px 10px 33px -17px rgba(53, 55, 61, 0.7);
}

input[type="submit"]:hover{
  cursor: pointer;
  background-color: #4c5163;
}
@media (min-width: 768px) {
   input[type="submit"]  {
     max-width: 400px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert{
  color: #e31d58;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  
}